In [2]:
import pandas as pd
import eeweather

In [3]:
eeweather.ISDStation('725945', load_metadata=True).json()

{'elevation': 61.0,
 'latitude': 40.978,
 'longitude': -124.109,
 'icao_code': 'KACV',
 'name': 'ARCATA AIRPORT',
 'quality': 'high',
 'wban_ids': ['24283'],
 'recent_wban_id': '24283',
 'climate_zones': {'iecc_climate_zone': '4',
  'iecc_moisture_regime': 'C',
  'ba_climate_zone': 'Marine',
  'ca_climate_zone': 'CA_01'}}

In [4]:
file = 'data\cz2010_legend.csv'

In [5]:
df = pd.read_csv(file)

In [12]:
df.head(10)

       Station/Description    Type   WMO #
0                  Alturas  CZ2010  725958
1                Arcata-AP  CZ2010  725945
2  Bakersfield-Meadows-Fld  CZ2010  723840
3                Beale-AFB  CZ2010  724837
4                Bishop-AP  CZ2010  724800
5           Blue-Canyon-AP  CZ2010  725845
6   Blythe-Riverside-Co-AP  CZ2010  747188
7  Burbank-Glndle-Pasad-AP  CZ2010  722880
8          Camarillo(AWOS)  CZ2010  723926
9      Camp-Pendleton-MCAS  CZ2010  722926

In [43]:
df['quality'] = ''

In [44]:
df.head()

       Station/Description    Type   WMO # quality
0                  Alturas  CZ2010  725958
1                Arcata-AP  CZ2010  725945
2  Bakersfield-Meadows-Fld  CZ2010  723840
3                Beale-AFB  CZ2010  724837
4                Bishop-AP  CZ2010  724800

In [42]:
eeweather.ISDStation(str(df['WMO #'].iloc[0]), load_metadata=True).json()['quality']

'high'

In [46]:
index_ =[]
for index, row in df.iterrows():
    try:
        df.set_value(index, 'quality', 
                     eeweather.ISDStation(str(row['WMO #']), 
                                          load_metadata=True).json()['quality'])
    except:
        index_.append(row)

C:\Users\GTAguina\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  after removing the cwd from sys.path.

In [47]:
index_

[]

In [50]:
df['quality'].unique().tolist()

['high', 'low', 'medium']

In [52]:
df[df['quality'] == 'low']

       Station/Description    Type   WMO # quality
13  Concord-Buchanan-Field  CZ2010  724936     low
18                  Eureka  CZ2010  725940     low
21        Hayward-Air-Term  CZ2010  724935     low
24                Inyokern  CZ2010  723826     low
48            Palo-Alto-AP  CZ2010  724937     low
58         Salinas-Muni-AP  CZ2010  724917     low
60    San-Clemente-Is-NAAS  CZ2010  722925     low
61     San-Diego-Gillespie  CZ2010  722907     low
77        Torrance-Muni-AP  CZ2010  722955     low

In [57]:
df[df['quality'] == 'medium']

    Station/Description    Type   WMO # quality
30         Lompoc(AWOS)  CZ2010  722895  medium
67  San-Jose-Reid-Hillv  CZ2010  724946  medium

In [56]:
df.isnull().any()

Station/Description    False
Type                   False
WMO #                  False
quality                False
dtype: bool

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 3 columns):
Station/Description    86 non-null object
Type                   86 non-null object
WMO #                  86 non-null int64
dtypes: int64(1), object(2)
memory usage: 2.1+ KB

In [13]:
CZ2010_LIST = [
    '725958', '725945', '723840', '724837', '724800', '725845', '747188',
    '722880', '723926', '722926', '722927', '746120', '722899', '724936',
    '725946', '723815', '723810', '722810', '725940', '723890', '722976',
    '724935', '747185', '722909', '723826', '722956', '725847', '723816',
    '747020', '724927', '722895', '722970', '722975', '722874', '722950',
    '724815', '724926', '722953', '725955', '724915', '725957', '724955',
    '723805', '724930', '723927', '722868', '747187', '723820', '724937',
    '723965', '723910', '723895', '725910', '725920', '722860', '722869',
    '724830', '724839', '724917', '724938', '722925', '722907', '722900',
    '722903', '722906', '724940', '724945', '724946', '722897', '722910',
    '723830', '722977', '723925', '723940', '722885', '724957', '724920',
    '722955', '745160', '725846', '690150', '725905', '722886', '723930',
    '723896', '724838']

cz_name_list = ['from_cz_list' for each in range(0, 86)]

In [27]:
dict_ = {'WMO #': CZ2010_LIST,
        'i_cz_name_list': cz_name_list}
df_cz = pd.DataFrame.from_dict(dict_)

In [29]:
df_cz.head(10)

    WMO # i_cz_name_list
0  725958   from_cz_list
1  725945   from_cz_list
2  723840   from_cz_list
3  724837   from_cz_list
4  724800   from_cz_list
5  725845   from_cz_list
6  747188   from_cz_list
7  722880   from_cz_list
8  723926   from_cz_list
9  722926   from_cz_list