In [1]:
import pandas as pd

In [2]:
url = 'http://weather.whiteboxtechnologies.com/CZ2010'
table = pd.read_html(url)
df = pd.DataFrame(data = table)

In [5]:
import eeweather

In [9]:
eeweather.ISDStation('725958', load_metadata=True).json()

{'elevation': 1333.5,
 'latitude': 41.491,
 'longitude': -120.564,
 'icao_code': 'KAAT',
 'name': 'ALTURAS MUNICIPAL AIRPORT',
 'quality': 'high',
 'wban_ids': ['94299', '99999'],
 'recent_wban_id': '94299',
 'climate_zones': {'iecc_climate_zone': '5',
  'iecc_moisture_regime': 'B',
  'ba_climate_zone': 'Cold',
  'ca_climate_zone': 'CA_16'}}

In [11]:
file = 'data\cz2010_legend.csv'

In [12]:
df = pd.read_csv(file)

In [14]:
df.head(25)

           Station/Description    Type   WMO #
0                      Alturas  CZ2010  725958
1                    Arcata-AP  CZ2010  725945
2      Bakersfield-Meadows-Fld  CZ2010  723840
3                    Beale-AFB  CZ2010  724837
4                    Bishop-AP  CZ2010  724800
5               Blue-Canyon-AP  CZ2010  725845
6       Blythe-Riverside-Co-AP  CZ2010  747188
7      Burbank-Glndle-Pasad-AP  CZ2010  722880
8              Camarillo(AWOS)  CZ2010  723926
9          Camp-Pendleton-MCAS  CZ2010  722926
10          Carlsbad-McClellan  CZ2010  722927
11              China-Lake-NAF  CZ2010  746120
12                    Chino-AP  CZ2010  722899
13      Concord-Buchanan-Field  CZ2010  724936
14        Crescent-City-FAA-AP  CZ2010  725946
15  Daggett-Barstow-Daggett-AP  CZ2010  723815
16                 Edwards-AFB  CZ2010  723810
17               El-Centro-NAF  CZ2010  722810
18                      Eureka  CZ2010  725940
19         Fresno-Yosemite-IAP  CZ2010  723890
20           Fullerton-Muni-AP  CZ2010  722976
21            Hayward-Air-Term  CZ2010  724935
22                    Imperial  CZ2010  747185
23     Imperial-Beach-Ream-Fld  CZ2010  722909
24                    Inyokern  CZ2010  723826

In [36]:
CZ2010_LIST = [
    '725958', '725945', '723840', '724837', '724800', '725845', '747188',
    '722880', '723926', '722926', '722927', '746120', '722899', '724936',
    '725946', '723815', '723810', '722810', '725940', '723890', '722976',
    '724935', '747185', '722909', '723826', '722956', '725847', '723816',
    '747020', '724927', '722895', '722970', '722975', '722874', '722950',
    '724815', '724926', '722953', '725955', '724915', '725957', '724955',
    '723805', '724930', '723927', '722868', '747187', '723820', '724937',
    '723965', '723910', '723895', '725910', '725920', '722860', '722869',
    '724830', '724839', '724917', '724938', '722925', '722907', '722900',
    '722903', '722906', '724940', '724945', '724946', '722897', '722910',
    '723830', '722977', '723925', '723940', '722885', '724957', '724920',
    '722955', '745160', '725846', '690150', '725905', '722886', '723930',
    '723896', '724838']
cz_name_list = ['from_cz_list' for each in range(0, 86)]

In [40]:
dict_ = {'i_cz2010': CZ2010_LIST,
        'i_cz_name_list': cz_name_list}
df_cz = pd.DataFrame.from_dict(dict_)

In [41]:
df_cz.head()

  i_cz2010 i_cz_name_list
0   725958   from_cz_list
1   725945   from_cz_list
2   723840   from_cz_list
3   724837   from_cz_list
4   724800   from_cz_list

In [ ]:
eeweather.ISDStation('725958', load_metadata=True).json()