In [1]:
import pandas as pd
import eeweather
from datetime import datetime
import pytz

In [2]:
url = 'https://gist.githubusercontent.com/philngo/45a049284fc2a4aeadef2fb7201bc845/raw/12f5dd3659a818fdd208defe221f8a46c76e8064/zipcode_to_cz2010.csv'

In [3]:
df = pd.read_csv(url)
df.head()

   zipcode  cz2010_usaf_id
0    90001          722956
1    90002          722956
2    90003          722956
3    90004          722874
4    90005          722874

In [4]:
df_unique = df.drop_duplicates(['cz2010_usaf_id'], 
                               keep='last').sort_values('cz2010_usaf_id', ascending=False).reset_index(drop=True)

In [5]:
df_unique[df_unique['cz2010_usaf_id'] == 725958]

   zipcode  cz2010_usaf_id
6    96132          725958

In [6]:
df_unique.head()

   zipcode  cz2010_usaf_id
0    92280          747188
1    92277          747187
2    92283          747185
3    95043          747020
4    93562          746120

In [7]:
df_unique['quality'] = ''

In [8]:
df_unique.head()

   zipcode  cz2010_usaf_id quality
0    92280          747188
1    92277          747187
2    92283          747185
3    95043          747020
4    93562          746120

In [9]:
eeweather.ISDStation(str(df['cz2010_usaf_id'].iloc[4]), load_metadata=True).json()['quality']

'high'

In [10]:
index_ =[]
for index, row in df_unique.iterrows():
    try:
        df_unique.set_value(index, 'quality', 
                     eeweather.ISDStation(str(row['cz2010_usaf_id']), load_metadata=True).json()['quality'])
    except:
        index_.append(row)
index_

C:\Users\GTAguina\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """

[]

In [11]:
df_unique.head()

   zipcode  cz2010_usaf_id quality
0    92280          747188    high
1    92277          747187    high
2    92283          747185    high
3    95043          747020    high
4    93562          746120    high

In [ ]:
eeweather.ISDStation('725945', load_metadata=True).json()

In [ ]:
start_date = datetime(2017, 1, 1, tzinfo=pytz.UTC)
end_date = datetime(2017, 12, 31, 23, tzinfo=pytz.UTC)

In [ ]:
station_ = eeweather.ISDStation('722880', load_metadata=True)
station_.json()

In [ ]:
station_.fetch_isd_hourly_temp_data('2018')

In [12]:
file = 'data\cz2010_legend.csv'

In [13]:
df = pd.read_csv(file)

In [14]:
df.head(10)

       Station/Description    Type   WMO #
0                  Alturas  CZ2010  725958
1                Arcata-AP  CZ2010  725945
2  Bakersfield-Meadows-Fld  CZ2010  723840
3                Beale-AFB  CZ2010  724837
4                Bishop-AP  CZ2010  724800
5           Blue-Canyon-AP  CZ2010  725845
6   Blythe-Riverside-Co-AP  CZ2010  747188
7  Burbank-Glndle-Pasad-AP  CZ2010  722880
8          Camarillo(AWOS)  CZ2010  723926
9      Camp-Pendleton-MCAS  CZ2010  722926

In [15]:
df['quality'] = ''

In [16]:
df.head()

       Station/Description    Type   WMO # quality
0                  Alturas  CZ2010  725958
1                Arcata-AP  CZ2010  725945
2  Bakersfield-Meadows-Fld  CZ2010  723840
3                Beale-AFB  CZ2010  724837
4                Bishop-AP  CZ2010  724800

In [17]:
eeweather.ISDStation(str(df['WMO #'].iloc[0]), load_metadata=True).json()['quality']

'high'

In [18]:
index_ =[]
for index, row in df.iterrows():
    try:
        df.set_value(index, 'quality', 
                     eeweather.ISDStation(str(row['WMO #']), 
                                          load_metadata=True).json()['quality'])
    except:
        index_.append(row)

C:\Users\GTAguina\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [19]:
index_

[]

In [20]:
df['quality'].unique().tolist()

['high', 'low', 'medium']

In [21]:
df[df['quality'] == 'low']

       Station/Description    Type   WMO # quality
13  Concord-Buchanan-Field  CZ2010  724936     low
18                  Eureka  CZ2010  725940     low
21        Hayward-Air-Term  CZ2010  724935     low
24                Inyokern  CZ2010  723826     low
48            Palo-Alto-AP  CZ2010  724937     low
58         Salinas-Muni-AP  CZ2010  724917     low
60    San-Clemente-Is-NAAS  CZ2010  722925     low
61     San-Diego-Gillespie  CZ2010  722907     low
77        Torrance-Muni-AP  CZ2010  722955     low

In [22]:
df[df['quality'] == 'medium']

    Station/Description    Type   WMO # quality
30         Lompoc(AWOS)  CZ2010  722895  medium
67  San-Jose-Reid-Hillv  CZ2010  724946  medium

In [23]:
df.isnull().any()

Station/Description    False
Type                   False
WMO #                  False
quality                False
dtype: bool

In [24]:
df.head()

       Station/Description    Type   WMO # quality
0                  Alturas  CZ2010  725958    high
1                Arcata-AP  CZ2010  725945    high
2  Bakersfield-Meadows-Fld  CZ2010  723840    high
3                Beale-AFB  CZ2010  724837    high
4                Bishop-AP  CZ2010  724800    high

In [25]:
df.to_csv('2018-09-19 export.csv')

In [27]:
file = '722880-23152-2018.gz'

In [28]:
df = pd.read_csv(file, compression='gzip')

In [32]:
df.iloc[0][0]

'0215722880231522018010101537+34201-118357FM-15+0223KBUR V0201705N001552200059N0096565N5+01565+01005101785ADDAA101000095AU100007015AW1051GA1005+999999999GD10991+9999999GF100991999999999999999999MA1101865099205MW1055REMMET09712/31/17 17:53:03 METAR KBUR 010153Z 17003KT 6SM HZ CLR 16/10 A3008 RMK AO2 SLP178 T01560100 (WP)'